.well.well-small.bibbase {
    color: #000000 !important;
}

#bibbase_body {
    font-size: 15px !important;
}

.bibbase_paper_title {
    color: var(--theme-primary) !important;
}

#groupby_dropdown {
    display: none !important; /* Sets the text color to black */
}

#menu_dropdown {
    display: none !important; /* Sets the text color to black */
}

.navbar-form .form-control {
    outline: none;
    border: none;
    box-shadow: none;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
}

/* // Filters on black generated through https://isotropic.co/tool/hex-color-to-css-filter/
.filter-primary{ 
    filter: invert(59%) sepia(67%) saturate(469%) hue-rotate(153deg) brightness(80%) contrast(97%);
} */