// align items in #home section
section#home {
  min-height: calc(100vh - #{$section-margin-top} - #{$section-margin-bottom});
  max-height: calc(100vh);

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & > div {
      width: 50%;
    }
  }
}

.home {
  &-title {
    font-size: clamp(35px, 5vw, 80px);
    font-weight: 600;
    margin-block-end: 2rem;
  }
  &-content {
    margin-block-end: 2rem;
  }
}



#profile_pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
